JWT_SECRET=

# MySQL
DB_HOST='mysql_finzen'    # nombre del contenedor del servidor MySQL
DB_USER='user'
DB_PASSWORD=
DB_NAME='finzen'    # nombre de la BD
DB_DIALECT='mysql'
DB_PORT='3310'

APP_PORT=3000
APP_HOST='finzen'   # nombre del contenedor de la aplicacion
